<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Home</title></head>
<body>
<h1>Bienvenido</h1>

<!-- muestra distinto según la persona logueada -->
<div th:if="${logued}">
    <p>¡Hola, sesión activa!</p>
    <a href="/profile">Mi perfil</a> |
    <a href="/showUsers">Listado de usuarios</a> |
    <a href="/logout">Logout</a> |
    <a href="/api-demo">Simular API</a>
</div>

<!-- si no has iniciado sesión, ve a hacerlo -->
<div th:unless="${logued}">
    <p>No has iniciado sesión.</p>
    <a href="/login">Login</a>
</div>


</body>
</html>
